.footer_body{
    width: 100%;
    height: max-content;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_link_container{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer_media_icon{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.footer_nav{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
}

.footer_copyRight_container{
    width: max-content;
    height: max-content;
}

.footer_copyRight_container{
    color: #7e7e7e;
    font-size: 14px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
}


@media screen and (max-width: 900px){

    .footer_body{
        padding: 50px 16px;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .footer_link_container{
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        gap: 26px;
        flex-wrap: wrap;
        justify-content: center;
    }

}