.header_body{
    width: 100%;
    height: max-content;
    background-color: #111;
    padding: 16px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(195, 195, 195, 0.076);
    position: sticky;
    top: 0;
    z-index: 9999999999;
}

.header_logo_container{
    width: 160px;
    height: 80px;
    /* background-color: green; */
    cursor: pointer;
}

.header_logo_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_nav_container{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_nav{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
}

.header_account_container{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    color: #ebebeb;
}

.menu_icon{
    display: none;
}

.mobile_menu_container{
    width: 100%;
    height: 90vh;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
}

.mobile_header_nav{
    text-decoration: none;
    padding: 20px 16px;
    color: #000;
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 500;
    border-bottom: 1px solid lightgrey;
}

.mobile_header_nav:hover{
    background-color: rgb(232, 232, 232);
}

.expanded{
    width: 100%;
}

.remove{
    width: 0%;
}



@media screen and (max-width: 768px){

    .header_nav_container{
        display: none;
    }

    .cart_icon{
        display: none;
    }
    
    .header_logo_container{
        width: 100px;
        height: 60px;
    }

    .header_body{
        padding: 20px 16px;
    }

    .header_account_container{
        font-size: 30px;
    }

    .menu_icon{
        display: flex;
    }

}