.messagify_body{
    width: 100%;
    height: max-content;
    background-color: transparent;
    position: fixed;
    z-index: 99999999999999999999999999999999999999;
    top: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: comeDown .75s ease-in-out 1;
}

@keyframes comeDown {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}

.message_container{
    width: max-content;
    max-width: 60%;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background-color: #fff;
    border-radius: 4px;
}

.message_icon_container{
    width: max-content;
    height: max-content;
    font-size: 30px;
    color: green;
}

.message_container p{
    color: #000;
    font-size: 16px;
    font-family: "Inter", serif;
    font-weight: 500;
    /* background-color: red; */
}

.cancel_icon_container{
    width: max-content;
    height: max-content;
    padding: 10px 10px;
    font-size: 12px;
    color: red;
    background-color: rgba(255, 0, 0, 0.044);
    margin-left: 20px;
    border-radius: 6px;
    cursor: pointer;
}



@media screen and (max-width: 768px){
    .message_container{
        max-width: 90%;
    }
}