.product_card_body{
    width: 23%;
    height: max-content;
    flex-shrink: 0;
}

.product_card_image_container{
    width: 100%;
    height: 320px;
    /* background-color: red; */
    border-radius: 4px;
    aspect-ratio: 1 / 20; /* Adjust based on common image dimensions */
    overflow: hidden;
}

.product_card_image_container img{
    width: 100%;
    height: 100%;
    object-fit: contain cover;
    object-position: flex-end center;
    border-radius: 4px;
}

.product_card_text_container{
    width: 100%;
    height: max-content;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product_card_text_container p{
    color: #DEDEDE;
    font-size: 16px;
    font-family: "Tenor Sans", serif;
    font-weight: 400;
}

.product_card_text_container h6{
    color: #DD8560;
    font-size: 17px;
    font-family: "Tenor Sans", serif;
    font-weight: 500;
}


@media screen and (max-width: 900px){

    .product_card_body{
        width: 50% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .product_card_image_container{
        height: 460px;
        width: 96%;
    }

    .product_card_image_container img{
        object-fit: contain cover;
        object-position: center center;
    }

    .product_card_text_container{
        width: 96%;
    }

    .product_card_text_container p{
        font-size: 22px;
        text-align: center;
    }

}


@media screen and (max-width: 768px){

    .product_card_body{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product_card_image_container{
        height: 400px;
        width: 100%;
    }

    .product_card_image_container img{
        object-fit: contain cover;
        object-position: center center;
    }

    .product_card_text_container{
        width: 100%;
    }

    .product_card_text_container p{
        font-size: 18px;
        text-align: center;
    }

}