.add_product_body{
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.add_product_top_container{
    width: 100%;
    height: max-content;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.461);
}

.add_product_top_container h2{
    color: #fff;
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 500;
}

.add_product_body_container{
    width: 100%;
    height: max-content;
    margin-top: 20px;
}

.add_product_item_container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add_product_input_container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_product_input_container label{
    color: lightgrey;
    font-size: 16px;
    font-family: "Inter", serif;
    font-weight: 400;
}

.add_product_input_container input{
    width: 100%;
    height: 42px;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    border: none;
    font-family: "Inter", serif;
}

.add_product_input_container select{
    width: 100%;
    height: 42px;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    border: none;
    font-family: "Inter", serif;
}

.add_product_image_container{
    width: 30%;
    height: 300px;
    border: 1px solid lightgrey;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.add_product_image_container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* background-color: red; */
    border-radius: 10px;
}

.add_product_image_icon{
    color: rgba(211, 211, 211, 0.868);
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(130px, 120px);;
    z-index: 2;
}

.add_product_sizes_container{
    width: 100%;
    height: max-content;
    border: 1px solid lightgrey;
    background-color: transparent;
    border-radius: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add_product_sizes_item_container{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.add_product_sizes_item_container p{
    width: 50px;
    color: lightgrey;
    font-size: 16px;
    font-family: "Inter", serif;
    font-weight: 400;
    /* background-color: red; */
}

.add_product_sizes_item_container input{
    width: 80px;
    height: 34px;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.add_product_button_container{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 20px;
    margin-top: 20px;
}

.add_product_button_container button{
    width: max-content;
    height: max-content;
    padding: 12px 50px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    font-family: "Inter", serif;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .add_product_button_container button:first-child{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 255, 0.516);
    transition: all .75s ease-in-out;
}

.add_product_button_container button:first-child:hover{
    background-color: blue;
} */

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.add_product_button_icon{
    animation: spin 1s linear infinite;
}



@media screen and (max-width: 768px) {
    .add_product_body{
        padding: 16px;
    }

    .add_product_image_container{
        width: 100%;
    }
    
    .add_product_image_icon{
        transform: translate(150px, 120px);;
    }
}