.detail_body{
    width: 100%;
    height: max-content;
    display: flex;
    padding: 100px 80px 160px 80px;
    gap: 30px;
    justify-content: space-between;
}

.detail_image_section{
    width: 32%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail_image_main_display{
    width: 100%;
    height: 500px;
    border-radius: 4px;
    border: 1px solid rgba(201, 199, 199, 0.587);
}

.detail_image_main_display img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.detail_image_sub_display_container{
    width: 100%;
    height: 100px;
    /* background-color: blue; */
    overflow-x: auto; /* enable horizontal scrolling */
    overflow-y: hidden; /* prevent vertical scroll */
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; /* this is important! */
    scroll-behavior: smooth;
}

.detail_image_sub_display{
    flex: 0 0 auto;
    width: 100px;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.detail_image_sub_display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.detail_description_section{
    width: 64%;
    height: max-content;
    /* background-color: green; */
}

/* WebKit scrollbar customization */
.detail_image_sub_display_container::-webkit-scrollbar {
    height: 6px; /* thickness of the scrollbar */
}

.detail_image_sub_display_container::-webkit-scrollbar-track {
    background: #ccc; /* scrollbar background */
    border-radius: 10px;
}

.detail_image_sub_display_container::-webkit-scrollbar-thumb {
    background-color: blue; /* thumb (the scroll handle) */
    border-radius: 10px;
    border: 2px solid transparent; /* optional border for spacing */
    background-clip: content-box;
}

.detail_image_sub_display_container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.detail_description_container{
    width: 70%;
    height: max-content;
    padding: 16px 0px;
    border-bottom: 1px solid #fff;
}

.detail_description_container:first-child{
    padding-top: 0px;
}

.detail_description_container h2{
    color: #fff;
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 500;
}

.detail_description_container h6{
    color: #40BFFF;
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.detail_description_container p{
    color: #c7c7c7;
    font-size: 13px;
    font-family: "Poppins", serif;
    font-weight: 400;
}

.avail_container{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 8px;
}

.color_picker_container{
    width: max-content;
    height: max-content;
    display: flex;
    gap: 10px;
}

.color_container{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.avail_container select{
    width: max-content;
    height: max-content;
    color: #fff;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    padding: 6px 30px;
    border-radius: 4px;
}

.avail_container select option{
    color: #000;
}

.size_select{
    gap: 50px;
    margin-top: 30px;
}

.detail_description_container_last{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity_container{
    width: 120px;
    height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.quantity_container button{
    width: 33.3%;
    height: 100%;
    border: none;
    background-color: transparent;
    color:  #40BFFF;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.quantity_container p{
    color: #000;
    font-size: 16px;
}

.add_to_cart_btn_container{
    width: max-content;
    height: max-content;
}

.add_to_cart_btn_container button{
    width: max-content;
    height: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #33a0ff37;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all .75s ease-in-out;
}

.add_to_cart_icon{
    font-size: 20px;
    color: #33A0FF;
}

.add_to_cart_btn_container button p{
    color: #33A0FF;
}

.add_to_cart_btn_container button:hover{
    transform: scale(1.1);
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.add_to_cart_spinner{
    animation: spin 1s linear infinite;
    font-size: 20px;
    color: #fff;
}


@media screen and (max-width: 768px){
    .detail_body{
        padding: 50px 16px 100px 16px;
        gap: 20px;
        flex-direction: column;
    }

    .detail_image_section{
        width: 100%;
    }

    .detail_image_main_display{
        width: 100%;
        height: 400px
    }

    .detail_image_sub_display_container{
        height: 80px;
        gap: 10px;
    }

    .detail_image_sub_display{
        width: 80px;
    }

    .detail_description_section{
        width: 100%;
    }

    .detail_description_container{
        width: 100%;
    }
}