.home_body{
    width: 100%;
    height: max-content;
}

.hero_section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero_background_slider{
    display: flex;
    width: 300%; /* 100% * number of slides */
    height: 100%;
    transition: transform 1s ease-in-out;
    /* position: absolute;
    top: 0; */
}

.hero_slide{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.hero_section_text_container{
    width: max-content;
    height: max-content;
    position: absolute;
    z-index: 2;
    left: 120px;
    top: 140px;
}

.hero_section_text_container h1{
    color: #F9EFEF;
    font-size: 50px;
    font-family: "Bodoni Moda", serif;
    font-weight: 500;
    font-style: italic;
}

.hero_section_text_container button{
    width: max-content;
    height: max-content;
    padding: 12px 40px;
    border-radius: 100px;
    background-color: #979797;
    color: #000;
    font-size: 16px;
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    border: none;
    margin-top: 26px;
    cursor: pointer;
}

.section_one{
    width: 100%;
    padding: 60px 80px;
}

.section_one_text_container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_one_text_container h3{
    width: max-content;
    height: max-content;
    color: #fff;
    font-size: 20px;
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.section_one_text_container h3:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 50%;
    height: 2px;
    background-color: lightgrey;
}

.section_one_product_container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 30px;
    justify-content: center;
}

.section_one_explore_container{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.section_one_explore_container button{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 4px;
    color: #fff;
    font-size: 18px;
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .65s ease-in-out;
}

.section_one_explore_container button:hover{
    background-color: lightgrey;
    border-radius: 4px;
    color: #000
}

.section_two{
    width: 100%;
    height: max-content;
    padding: 50px 80px;
}

.section_two_collection_container{
    width: 100%;
    height: 90vh;
    background-image: url("../../assets/section_two_image.png");
    background-position: flex-end center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section_two_writeup_container_one, .section_two_writeup_container_two{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 45%;
    z-index: 2;
}

.section_two_writeup_container_one{
    left: 70px;
}

.section_two_writeup_container_two{
    right: 140px;
}

.section_two_writeup_container_one h3, .section_two_writeup_container_two h3{
    height: max-content;
    font-size: 50px;
    font-family: "Bodoni Moda", serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: -1px;
}

.section_two_writeup_container_one h3{
    color: #333333;
}

.section_two_writeup_container_two h3{
    color: #fff;
}

.section_two_writeup_container_one p, .section_two_writeup_container_two p{
    font-size: 16px;
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: -16px;
}

.section_two_writeup_container_one p{
    color: #333333;
}

.section_two_writeup_container_two p{
    color: #fff;
}

.section_two_collection_container h1{
    color: #33333380;
    font-size: 160px;
    font-family: "Bodoni Moda", serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: -30px;
    position: absolute;
    top: 32%;
    right: 140px;
}